.task {
  width: 200px;
  min-height: 100px;
  height: fit-content;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
  text-align: center;
  background-color: beige;
}

.task .title {
  font-size: large;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

.task .description {
  font-family: "Courier New", Courier, monospace;
}
